
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to parcelID</h1>
        <p>Search for a place you have lived and add a story. Discover stories about places you have been. Help solve a home history mistery.</p>
        <p><a> <%= link_to "Search Properties »", properties_path, :class => 'btn btn-red btn-lg' %></a></p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Research</h2>
          <p>Research your home's story. </p>
         
        </div>
        <div class="col-md-4">
          <h2>Record</h2>
          <p>Add stories to places you have been. </p>
         
       </div>
        <div class="col-md-4">
          <h2>Discover</h2>
          <p>Discover who else has lived where you have lived.</p>
         
        </div>
      </div>

      <hr>
    </div>

